html
  font-size: 62.5%
  box-sizing: border-box

*,
*::before,
*::after
  margin: 0
  padding: 0
  box-sizing: inherit

// Color variables
$transparent-white-soft: rgba(255, 255, 255, 0.2)
$transparent-white-semi-light: rgba(255, 255, 255, 0.5)
$purple-box: rgba(228, 8, 209, 0.1)
$transparent-black-soft: rgba(0, 0, 0, 0.1)

body
  font-family: sans-serif
  overflow: hidden

.container
  display: flex
  justify-content: center
  align-items: center
  min-height: 100vh
  background-color: #A9C9FF
  background-image: linear-gradient(135deg, #A9C9FF 0%, #bf3aa2 100%)
  .color
    position: absolute
    filter: blur(15rem)
    &:nth-child(1)
      top: -35rem
      background: #5c55e6
      width: 60rem
      height: 60rem
    &:nth-child(2)
      bottom: -15rem
      left: 10rem
      background: #4b1c8b
      width: 50rem
      height: 50rem
    &:nth-child(3)
      bottom: 5rem
      right: 0
      background: #001f6a
      width: 30rem
      height: 30rem
  .main-container
    position: relative
    .box
      content: ""
      position: absolute
      border-radius: 1rem
      border: 0.1rem solid $transparent-white-semi-light
      border-right: 0.1rem solid $transparent-white-soft
      border-bottom: 0.1rem solid $transparent-white-soft
      box-shadow: 0 2.5rem 4.5rem $transparent-black-soft
      backdrop-filter: blur(0.5rem)
      background-color: $purple-box
      animation: animate 10s linear infinite
      animation-delay: calc(-1s * var(--i))
      &:nth-child(1)
        width: 10rem
        height: 10rem
        top: -5rem
        right: -6rem
      &:nth-child(2)
        width: 12rem
        height: 12rem
        top: 15rem
        left: -10rem
        z-index: 2
      &:nth-child(3)
        width: 8rem
        height: 8rem
        bottom: 5rem
        right: -6rem
        z-index: 2
      &:nth-child(4)
        width: 5rem
        height: 5rem
        bottom: -8rem
        left: 10rem
      &:nth-child(5)
        top: -8rem
        left: 14rem
        width: 6rem
        height: 6rem
        z-index: 2
    .form-section
      width: 40rem
      min-height: 40rem
      display: flex
      justify-content: center
      align-items: center
      position: relative
      background-color: rgba(255, 255, 255, 0.1)
      border: 0.1rem solid $transparent-white-semi-light
      border-right: 0.1rem solid $transparent-white-soft
      border-bottom: 0.1rem solid $transparent-white-soft
      border-radius: 1rem
      box-shadow: 0 2.5rem 4.5rem $transparent-black-soft
      form
        position: relative
        width: 100%
        height: 100%
        padding: 4rem
        font-size: 1.6rem
        h2
          position: relative
          font-size: 2.4rem
          font-weight: 600
          color: #fff
          letter-spacing: 0.1rem
          margin-bottom: 4rem
          &:before
            content: ""
            position: absolute
            left: 0
            bottom: -1rem
            width: 8rem
            height: 0.4rem
            background-color: #fff
            border-radius: 0.5rem
        .input
          display: block
          width: 100%
          margin-top: 2rem
          border: none
          padding: 1rem 3rem
          border-radius: 3.5rem
          background-color: $transparent-white-soft
          border-top: 0.1rem solid $transparent-white-semi-light
          border-left: 0.1rem solid $transparent-white-semi-light
          box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.05)
          outline: none
          font-size: 1.6rem
          letter-spacing: 0.1rem
          color: #fff
          font-weight: 600
          &::placeholder
            color: #fff
          &[type="submit"]
            background-color: rgba(228, 8, 209, 0.2)
            color: #fff
            font-weight: 600
            max-width: 10rem
            cursor: pointer
            margin-bottom: 2rem
            padding: 1rem
        .forgot-password,
        .havent-account-yet
          display: flex
          gap: 0.5rem
          margin-top: 0.5rem
          color: #fff
          padding: 0.2rem
          a
            color: #fff
            text-decoration: none
            // font-weight: 600
            &:hover
              text-decoration: underline

@keyframes animate
  0%,100%
    transform: translateY(-4rem)
  50%
    transform: translateY(4rem)
