@use "variables";

// MIXINS
@mixin normal-section-styles {
  background-color: variables.$darker-shadow;
  position: relative;
  padding-top: 7rem;
  padding-bottom: 7rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

@mixin main-text {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -2px;
  font-size: variables.$main-title-size;
}

@mixin main-section-title {
  @include main-text();
  font-size: variables.$section-title-size;
  color: variables.$white;
  text-align: center;
  font-weight: 500;
  text-transform: none;
}

@mixin normal-button-styles {
  min-width: 15rem;
  height: 5rem;
  padding: 1.5rem;
  text-decoration: none;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  &:link {
    text-decoration: none;
  }
}

@mixin normal-text-styles {
  line-height: 1.5;
  font-size: 2.3rem;
  color: variables.$white;
  text-align: center;
}

@mixin btn-container ($position) {
  display: flex;
  justify-content: $position;
}

@mixin banner-viewport-height ($viewport-height: 80vh, $url-img) {
  min-height: $viewport-height;
  background-image: url($url-img);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

// Top or Bottom
@mixin shadow-position ($top-position: unset, $bottom-position: unset) {
  top: $top-position;
  bottom: $bottom-position;
}

// Shadow bottom component

@mixin shadow ($height: unset, $to-top-or-bottom) {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: $height;
  z-index: 3;
  background: linear-gradient(#{$to-top-or-bottom}, variables.$darker-shadow, transparent);
}

@mixin thin-text () {
  font-size: 1.9rem;
  font-weight: normal;
  color: variables.$main-green-very-light;
  text-align: center;
}