// UTILITIES
@use "variables";
@use "mixins";

.btn, .btn:link {
  @include mixins.normal-button-styles();
}

.btn--primary {
  background-color: variables.$main-green;
  color: variables.$white;
  box-shadow: variables.$button-primary-shadow;
}

.btn--secondary {
  background-color: variables.$main-green-darker;
  color: variables.$white;
  box-shadow: variables.$button-secondary-shadow;
}

.btn--primary:hover {
  background-color: variables.$button-primary-hover;
}

.btn--secondary:hover {
  background-color: variables.$main-green;
}

.w-90 {
  width: 90%;
}

.mlr-auto {
  margin: 0 auto;
}

.btn-container-end {
  @include mixins.btn-container(flex-end);
}

.btn-container-center {
  @include mixins.btn-container(center);
}