/*

FONT FAMILY

'Montserrat', sans-serif;

FONT SIZE SYSTEM

48px | 40px | 33px | 28px | 23px | 19px

*/

// COLOR VARIABLES
$main-green: #00cec9; // main color
$main-green-darker: #003e3c;
$main-green-lighter: #66e2df;
$main-green-very-light: #ccf5f4;
$white: #ffffff;
$black: #000;
$darker-shadow: #111;

// BUTTON COLORS
$button-primary-hover: #00b9b5;
$button-primary-shadow: 0px 0px 6px 0px #00b9b5;
$button-secondary-shadow: 0px 0px 6px 0px $main-green-darker;

// ACCENT COLORS
$accent: #e63946;
$accent-darker: #cf333f;
$accent-very-darker: #5c171c;

// TEXT SIZES
$main-title-size: 5rem;
$section-title-size: 3.3rem;
$section-subtitle-size: 2.8rem;

// FONT FAMILIES
$montserrat: 'Montserrat', sans-serif;