/*

FONT FAMILY

'Montserrat', sans-serif;

FONT SIZE SYSTEM

48px | 40px | 33px | 28px | 23px | 19px

*/
.btn, .btn:link {
  min-width: 15rem;
  height: 5rem;
  padding: 1.5rem;
  text-decoration: none;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
}
.btn:link, .btn:link:link {
  text-decoration: none;
}

.btn--primary {
  background-color: #00cec9;
  color: #ffffff;
  box-shadow: 0px 0px 6px 0px #00b9b5;
}

/*
.btn--secondary {
  background-color: variables.$main-green-darker;
  color: variables.$white;
  box-shadow: variables.$button-secondary-shadow;
}
*/
.btn--primary:hover {
  background-color: #00b9b5;
}

/*
.btn--secondary:hover {
  background-color: variables.$main-green;
}
*/
.w-90 {
  width: 90%;
}

.mlr-auto {
  margin: 0 auto;
}

.btn-container-end {
  display: flex;
  justify-content: flex-end;
}

.btn-container-center {
  display: flex;
  justify-content: center;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  min-width: 34rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  padding: 2rem 2rem 0;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.nav .page-logo:link, .nav .page-logo:visited {
  font-size: 2.8rem;
  text-decoration: none;
  color: #00cec9;
}
.nav .toogle-icon {
  width: 5rem;
  height: 5rem;
  stroke: #00cec9;
}

.banner {
  min-height: 100vh;
  background-image: url("../img/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 12rem;
}
.banner .main-title {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -2px;
  font-size: 5rem;
  color: #00cec9;
  margin-bottom: 5rem;
}
.banner .main-title span {
  color: #003e3c;
}
.banner .banner-text {
  line-height: 1.5;
  font-size: 2.3rem;
  color: #ffffff;
  text-align: center;
  margin-bottom: 5rem;
  font-weight: 500;
  text-align: start;
}
@media (min-width: 768px) {
  .banner .main-title {
    font-size: 6rem;
  }
}

.banner-button {
  z-index: 4;
}

.popular-destination {
  background-color: #111;
  position: relative;
  padding-top: 7rem;
  padding-bottom: 7rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
.popular-destination::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 20rem;
  z-index: 3;
  background: linear-gradient(to top, #111, transparent);
  top: -20rem;
  bottom: unset;
}
.popular-destination::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 40rem;
  z-index: 3;
  background: linear-gradient(to bottom, #111, transparent);
  top: unset;
  bottom: -39.9rem;
}
.popular-destination .popular-destination-title {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -2px;
  font-size: 5rem;
  font-size: 3.3rem;
  color: #ffffff;
  text-align: center;
  font-weight: 500;
  text-transform: none;
}
.popular-destination .popular-destination-text {
  line-height: 1.5;
  font-size: 2.3rem;
  color: #ffffff;
  text-align: center;
}
.popular-destination .img-container {
  height: 25rem;
  border-radius: 1.5rem;
  overflow: hidden;
}
.popular-destination .img-container img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.second-banner {
  min-height: 80vh;
  background-image: url("../img/img1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.second-banner::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 40rem;
  z-index: 3;
  background: linear-gradient(to top, #111, transparent);
  top: unset;
  bottom: -1px;
}

.destinations-cards {
  background-color: #111;
  position: relative;
  padding-top: 7rem;
  padding-bottom: 7rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.destinations-cards-title {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -2px;
  font-size: 5rem;
  font-size: 3.3rem;
  color: #ffffff;
  text-align: center;
  font-weight: 500;
  text-transform: none;
}

.destinations-cards-text {
  line-height: 1.5;
  font-size: 2.3rem;
  color: #ffffff;
  text-align: center;
}

.destinations-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
}

.destination-card {
  position: relative;
  min-height: 48rem;
  max-width: 40rem;
  width: 100%;
  background-color: transparent;
  overflow: hidden;
  border-radius: 1.5rem;
  transition: 0.5s;
}

.destination-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.8;
}

.destination-name {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: rgba(25, 25, 25, 0.74);
}
.destination-name h3 {
  line-height: 1.5;
  font-size: 2.3rem;
  color: #ffffff;
  text-align: center;
}

.thirth-banner {
  min-height: 80vh;
  background-image: url("../img/banner3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.thirth-banner::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 40rem;
  z-index: 3;
  background: linear-gradient(to bottom, #111, transparent);
  top: -1px;
  bottom: unset;
}
.thirth-banner::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 40rem;
  z-index: 3;
  background: linear-gradient(to top, #111, transparent);
  top: unset;
  bottom: -1px;
}

.social-networks {
  background-color: #111;
}

.social-networks-icons {
  gap: 4rem;
}

.social-icon {
  stroke: #ccf5f4;
  width: 5rem;
  height: 5rem;
}

.copyright {
  margin-top: 2rem;
  font-size: 1.9rem;
  font-weight: normal;
  color: #ccf5f4;
  text-align: center;
}/*# sourceMappingURL=styles.css.map */